@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Lora');

:root {
    --themeColor: #282923;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: var(--themeColor);
    overflow-x: hidden;
}

.panel {
    height: 100vh;
    width: 100vw;
    margin: auto;
    display: table;
    top: 0; 
    background-position: left;
}

.panel .inner {
    display: table-cell;
    vertical-align: middle;
    max-width: none;
    background-repeat: no-repeat;
}

.content {
    margin: 0 auto;
    text-align: center;

    /*keeps the stuff inside the panels from reaching the edges of the screen*/
    max-width: 50vw;
}

.content h1 {
    font-family: 'Lora', sans-serif;
    color: white;
    text-shadow: 0px 0px 300px #000;
    font-size: 300%;
}

p {
    font-family: 'Ubuntu', sans-serif;
    color: white;
    padding: 5px;
}

.btn {
    border-radius: 9px;
    font-family: 'Oswald', sans-serif;
    color: #A60000;
    font-size: 135%;
    padding: 10px 20px;
    border: solid #A60000 3px;
    text-transform: uppercase;
    text-decoration: none;
    opacity: 1;
}

.btn:hover {
    color: #fff;
    border: solid #fff 3px;
}


/* Menu bar */
.menuBar {
    background-color: var(--themeColor);
    height: 40px;
}


/* Top panel */
.panel.top {
    background: url("images/goDeeper4.png");
    background-repeat: no-repeat;
    background-size: 100%;

    /* Set the height value to force the top panel to end where the image height
    ends. Without this, there will be padding until the bottom of the screen.*/
    height: 602px;
}


/* About me */
.panel.aboutme {
    background: url("images/work.jpg");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100%;
}
.content .aboutMeTitle {
    background-color: black;
    border-color: white;
    border-style: dotted;
    text-align: center;
}
.aboutMeContainer {
    background-color: black;
    border-color: white;
    border-style: dotted;
}
.aboutMeText {
    color: white;
    font-family: 'Lucida Console', sans-serif;
    text-align: left;
}


/* Previous Projects */
.panel.github {
    background: url("images/khalid.jpg");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100%;
}
/*'span' is here to constrain background color to the area around the text*/
.githubText span {
    background: black;
    border-radius: 9px;
    padding: 10px 20px;
}


/* Bottom panel */
.panel.bottom {
    background: url("images/last.jpg");
    height: 20%;
    text-align: center;
    /*position: absolute;*/
}
/* Social media links*/
li {
    padding 0px;
    display: inline-block;
}
li i {
    list-style: none;
    color: black;
    font-size: 100px;
    padding: 40px;
    height: auto;
    cursor: pointer;
}
/*li:hover {
    color: white;
    font-size: 140px;
    padding: 20px;
    transition: 0.5s;
}*/


/*Change a few parameters for mobile screens*/
@media screen and (max-width: 1000px) {
    .content {
        max-width: 50vw;
    }
    .content h1 {
        font-size: 150%
    }
    .btn {
        font-size: 110%;
        padding: 7px 15px;
    }
    p {
        font-size: 50%
    }
}
