@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=PT+Mono&display=swap');

/* Define global variables */
:root {
    /* Gray color from default Sublime Text theme*/
    --themeColor: #282923;

    /* Black with an opacity of 0.7. Use this instead of "opacity" property
       since opacity cannot be overriden by children. */
    --fadedBlack: rgba(0, 0, 0, 0.7);
    --fadedWhite: rgba(255, 255, 255, 0.7);
    --fadedThemeColor: rgba(40, 41, 25, 0.7);

    /* clear/transparent black color used for bordering of text that user
        should still be able to see through */
    --clearBlk: rgba(0, 0, 0, 0.4);
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: var(--themeColor);
    overflow-x: hidden;
}

.panel {
    height: 100vh;
    width: 100vw;
    margin: auto;
    display: table;
    top: 0; 
    background-position: left top;
}
.panel .inner {
    display: table-cell;
    vertical-align: middle;
    max-width: none;
    background-repeat: no-repeat;
}

.content {
    margin: 0 auto;
    text-align: center;

    /*keeps the stuff inside the panels from reaching the edges of the screen*/
    max-width: 50vw;
}
.content h1 {
    font-family: "Lora", sans-serif;
    color: white;
    text-shadow: 0px 0px 300px #000;
    font-size: 300%;
}

p {
    font-family: "Ubuntu", sans-serif;
    color: white;
    padding: 5px;
}

/* Change color of hyperlinks to be more visible */
.coloredHLink {
    color: #1ab2ff;
}

/*-------------------------------------------*/
/* ----------------Top panel---------------- */
/*-------------------------------------------*/
.panel.top {
    background-image: url("images/goDeeper.png");
    background-repeat: no-repeat;
    background-color: #000000;

    /* Set the height value to force the top panel to end where the image height
    ends. Without this, there will be padding until the bottom of the screen.*/
    height: 602px;
}
.topPanelTitle span {
    /*'span' is here to constrain background color to the area around the text*/
    background-color: var(--fadedWhite);
    border-radius: 9px;
    padding: 10px 20px;
    color: black;
}
/*-------------------------------------------*/

/*-------------------------------------------*/
/* -----------------About me---------------- */
/*-------------------------------------------*/
.panel.aboutme {
    background-image: url("images/work.jpg");
    /*background-position: left top;*/
    background-size: 100vw 100%;
    background-position: left center;
    background-repeat: no-repeat;
}
.aboutMeContainer {
    background-color: var(--fadedBlack);
    border-color: white;
    border-style: dotted;
}
.aboutMeText {
    color: white;
    font-family: "PT Mono", "Lucida Console", "Consolas", monospace;
    text-align: left;
    font-size: 20px;
}
/*-------------------------------------------*/

/*-------------------------------------------*/
/* ------------Previous Projects------------ */
/*-------------------------------------------*/
.panel.projects {
    background-image: url("images/khalid.jpg");
    background-position: center center;
    background-size: auto 100%;
    background-repeat: no-repeat;
}
.projectText span {
    background-color: var(--clearBlk);
    border-radius: 9px;
    padding: 10px 20px;
}

/* Container used to store description text and media links */
.projDescrContainer {
    border-radius: 9px;
    background-color: var(--clearBlk);
}

.projTextDescr {
    color: white;
    text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black,
         1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}

.icon {
    display: inline-block;
    list-style: none;
    color: white;
    font-size: 100px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}
/*-------------------------------------------*/




/* Override some settings for better mobile viewing */
@media screen and (max-width: 1000px) {
    .panel {
        height: 80vh;
    }

    .content {
        /* Allow content to take up more horizontal space on mobile */
        max-width: 80vw;
    }
    .content h1 {
        font-size: 300%;
    }

    p {

    }

    .panel.top {
        /* override the defined value it normally has */
        height: 50vh;
        background-size: auto 100%;
    }
    .topPanelTitle span {
        border-radius: 9px;
        padding: 5px 10px;
        font-size: 80%;
    }

    .panel.aboutme {
        background-size: auto 100%;
    }

    .aboutMeText {
        font-size: 14px;
    }

    .panel.projects {
        background-size: auto 100%;
    }

    .icon {
        font-size: 50px;
    }
}

/* Just in case the window is extremely narrow */
@media screen and (max-width: 430px) {
    .topPanelTitle span {
        font-size: 55%;
    }
}
