@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Lora');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #A60000;
}

.panel {
    height: 100vh;
    width: 100vw;
    margin: auto;
    display: table;
    top: 0; 
    background-position: left;
    /*border: 2px solid #A60000*/
}

.panel .inner {
    display: table-cell;
    vertical-align: middle;
    max-width: none;
    background-repeat: no-repeat;
}

.content {
    /*keeps the stuff inside the panels from reaching the edges of the screen*/
    max-width: 1000px;

    margin: 0 auto;
    text-align: center;
}

.content h1 {
    font-family: 'Lora', sans-serif;
    color: #F9F3F4;
    text-shadow: 0px 0px 300px #000;
    font-size: 300%;
}
p {
    font-family: 'Ubuntu', sans-serif;
    color: white;
    padding: 5px;
}

.btn {
    border-radius: 9px;
    font-family: 'Oswald', sans-serif;
    color: #A60000;
    font-size: 135%;
    padding: 10px 20px;
    border: solid #A60000 3px;
    text-transform: uppercase;
    text-decoration: none;
    opacity: 1;
}

.btn:hover {
    color: #fff;
    border: solid #fff 3px;
}

.secretbtn {
    border-radius: 9px;
    font-family: 'Oswald', sans-serif;
    color: #036A81;
    font-size: 135%;
    padding: 10px 20px;
    border: solid #036A81 3px;
    text-transform: uppercase;
    text-decoration: none;
    opacity: 0;
}
.secretbtn:hover {
    opacity: 1;
}

.panel.one {
    background: url("images/space.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


/* About me */
.panel.aboutme {
    background: url("images/work.jpg");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.aboutMe {
    color: white;
    font-family: 'Lucida Console', sans-serif;
    text-align: left;
}
.myContainer {
    background-color: black;
    border-color: white;
    border-style: dotted;
}


/* Previous Projects */
.panel.github {
    background: url("images/goDeeper.png");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
/*'span' is here to constrain background color to the area around the text*/
.githubText span {
    background: black;
    border-radius: 9px;
    padding: 10px 20px;
}


.panel.bottom {
    background: url("images/last.jpg");
    height: 50%
}


/*Change a few parameters for mobile screens*/
@media screen and (max-width: 768px) {
    .content h1 {
        font-size: 150%
    }
    .btn {
        font-size: 110%;
        padding: 7px 15px;
    }
    p {
        font-size: 50%
    }
}
